@import "../../../variables.scss";
@import "../../../mixins.scss";

.delete-container {
  @include modalContainer;
  justify-content: space-between;

  .delete-head-container {
    @include modalHeader;

    .delete-head {
      @include modalTitle;
    }

    .delete-exit {
      @include modalExit;
    }
  }

  .delete-btn-container {
    display: flex;
    width: 100%;
    justify-content: space-between;

    .delete-btn {
      font-size: 1.3rem;
      color: white;
      background: $danger;
      border-radius: 4px;
      padding: 0.75rem 1.5rem;
      cursor: pointer;

      &:hover {
        background: darken($danger, 5%);
      }
    }

    .delete-btn.can {
      background: $gray3;
      color: $gray1;

      &:hover {
        background: darken($gray3, 2.5%);
      }
    }
  }
}
