@import "../../../variables.scss";

.workout-modal-content {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;

  .workout-body-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 2rem;

    .workout-data {
      width: 100%;
      margin-right: 4rem;
    }
  }
}
