@import '../variables.scss';

.spotter-nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  .spotter-nav-head {
    display: flex;

    &:hover {
      cursor: pointer;
    }

    .spotter-nav-head-logo {
      font-size: 3.5rem;
      font-weight: bold;
      color: $gray1;
      text-decoration: none;

      .spot {
        font-size: 5rem;
        color: $primary;
        height: 10px;
      }
    }
  }

  .spotter-nav-links {
    display: flex;

    .spotter-nav-link {
      font-size: 1.5rem;
      height: max-content;
      padding: 1rem 1.5rem;
      border-radius: 5px;
      text-decoration: none;
    }

    .spotter-nav-link:nth-child(-n + 3){
      margin-right: 1.5rem;
      font-weight: bold;
      color: $gray2;

      &:hover {
        color: $primary;
        cursor: pointer;
      }
    }

    .spotter-nav-link:nth-child(4){
      background: $primary;
      color: white;
      font-weight: bold;

      &:hover {
        background: $primary-hover;
        cursor: pointer;
      }
    }
  }
}