$primary: #E9503F;
$primary-hover: darken($primary, 10%);
$danger: #ED3D34;
$success: #65E043;
$info: #0977F4;
$warning: #F2B202;
$gray1: lighten(black, 12.5%);
$gray2: lighten(black, 45%);
$gray3: lighten(black, 95%);
$box: 0 0 0 1px rgba(50,50,93,0.075),0 0 1px #e9ecef,0 2px 4px -2px rgba(138,141,151,0.6);