@import "../../variables.scss";
@import "../../mixins.scss";

.subnav-container {
  display: flex;
  padding-top: 5rem;
  font-size: 1.3rem;

  .subnav-menu {
    color: $gray1;
    font-weight: bold;
    @include flex-center;

    .subnav-menu-icon.left:last-child {
      font-size: 1.6rem;
      cursor: pointer;
      color: $gray1;
      margin-right: 3rem;
      padding: 0.9rem;
      border-radius: 50%;

      &:hover {
        background: $gray3;
      }
    }

    .subnav-menu-icon.left.dropdown {
      width: 88px;

      .css-1hwfws3 {
        padding: 0;
      }
    }

    .subnav-menu-icon.right {
      color: $info;
      padding: 0.5rem 0.75rem;
      background: white;
      border: 1px solid $info;
      cursor: pointer;
      border-radius: $border;

      &:hover {
        color: darken($info, 10%);
      }
    }
  }
}
