@import "../../variables.scss";
@import "../../mixins.scss";

.workouts-head {
  margin-top: 2rem;
  color: $gray1;
  font-size: 2rem;
  text-align: center;
  display: flex;
  align-items: center;

  .workouts-icons {
    margin-right: 2rem;
    color: $gray2;

    .workouts-head-icon {
      margin-right: 1.5rem;

      &:hover {
        background: $gray3;
        border-radius: 20px;
        cursor: pointer;
      }
    }
  }
}

.week-workouts-days {
  display: flex;
  margin-top: 2rem;
  font-size: 1.2rem;
  color: $gray1;

  .week-workouts-column {
    width: 15%;
    text-align: center;

    .week-workouts-day {
      border-bottom: 1px solid $gray3;
      padding: 2rem 0 2rem 0;

      .week-workout-day-slug {
        margin-bottom: 1rem;
        font-size: $p;
        color: $gray1;
      }

      .week-workout-day-date {
        color: $gray2;
      }
    }

    .week-workouts-add-workout {
      color: $gray1;
      margin: 1rem;
      padding: 1rem 0;
      box-shadow: $box;
      @include flex-center;
      justify-content: center;
      border-radius: $border;

      &:hover {
        background: $gray3;
        cursor: pointer;
      }

      .week-workouts-add-icon {
        margin-right: 1rem;
        font-size: 1.3rem;
        color: $primary;
      }
    }
  }
  .week-workouts-column:nth-of-type(-n + 6) .week-workouts-day {
    border-right: 1px solid $gray3;
  }
}
