@import '../../variables.scss';

.contact-popup {
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background: $primary;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .contact-close {
    color: white;
  }
}
