@import "../../variables.scss";
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700&display=swap');
@import "../../mixins.scss";

.forgot-password-container {
  margin: 10rem auto;
  font-family: "Nanum Gothic";
  box-shadow: $box;
  padding: 6rem 12rem;

  .forgot-password-title {
    font-size: 3rem;
    color: $gray1;
    margin-bottom: 4rem;
    text-align: center;
  }

  .forgot-password-res {
    padding: 1.5rem;
    margin-bottom: 2rem;
    font-size: 1.3rem;
  }

  .err {
    background: rgba($danger, 0.5);
  }

  .succ {
    background: rgba($success, 0.5);
  }

  .forgot-password-label {
    color: $gray2;
    font-size: 1.3rem;
  }

  .forgot-password-input {
    margin-top: 1rem;
    margin-bottom: 3rem;
    padding: 1rem;
    font-size: 1.3rem;
    width: 100%;
    outline: 0;
    border: 1px solid darken($gray4, 20%);
    border-radius: 4px;

    &:focus {
      border: 1px solid $primary;
    }
  }

  .forgot-password-submit {
    margin-top: 1rem;
    font-family: "Roboto";
    text-align: center;
    width: 150px;
    color: white;
    background: $primary;
    padding: 1.5rem 2rem;
    font-size: 1.3rem;
    border-radius: 4px;
    @include hover;
    cursor: pointer;

    &:hover {
      background: darken($primary, 10%);
    }
  }
}