@import "../../variables.scss";
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700&display=swap');

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Nanum Gothic";
  margin-bottom: 8rem;

  .logo-container {
    display: flex;
    justify-content: center;

    .form-logo {
      width: 285px;
      height: 285px;
      position: relative;
      bottom: 10px;
    }
  }

  .form-sub-container {
    position: relative;
    bottom: 40px;

    .api-err-box {
      font-size: 1.6rem;
      width: 100%;
      background: rgba($danger, 0.5);
      padding: 1.5rem;
      margin: 2.5rem 0;
    }

    .form-head {
      font-size: 4.5rem;
      margin-bottom: 2rem;
      color: $gray1;
      text-align: center;
    }

    .form {
      display: flex;
      flex-direction: column;
      width: 400px;


      .form-label {
        font-size: 2rem;
        color: $gray2;
        margin: 1rem 0;
      }

      .form-field {
        padding: 1rem;
        font-size: $p;
        margin: 1.5rem 0;

        &::placeholder {
          color: lighten($gray2, 25%);
        }
      }

      .form-error {
        font-size: 1.4rem;
        color: $danger;
      }

      .form-error.email {
        margin-bottom: 1rem;
      }

      .form-button {
        margin-top: 2rem;
        background: $primary;
        border: 0;
        padding: 1.5rem 0;
        color: white;
        font-size: 2rem;
        font-family: "Roboto";
        font-weight: bold;
        border-radius: $border;

        &:hover {
          cursor: pointer;
          background: $primary-hover;
        }
      }

      .form-button:focus {
        outline: none;
      }
    }
  }
}
